# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env

# Build output
dist/
build/
client/dist/
client/build/

# Log files
*.log

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Miscellaneous
.DS_Store
Thumbs.db
